*{
    box-sizing: border-box;
}

body {
    color: black;
    margin:0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-x: hidden;
}

header {
    width: 100vw;
    position: fixed;
    top: 0;
    z-index: 3;
    background-color: transparent;
}

#nav-bar{
    position: absolute;
    width: 98.75vw;
    display: inline-block;
    z-index: 3;
}

#nav-bar a{
    text-decoration: none;
    color: white;
}

.nav-link{
    float: right;
    padding: 1rem;
    padding-left: 1.5rem;
    font-size: 1.5rem;
}

.nav-link:hover{
    color: black;
    transition: all 0.3s ease 0s;
    background-color: cornsilk;
}

#nav-bar a:hover{
    color: white;
}

.scroll {
    background-image:
    radial-gradient(
      circle at 0% 100%,
      red 0%,
      cyan 40%,
      rebeccapurple 100%
    );
    box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 0px 0px;
}

#home {
    background-size:cover;
    height: 100vh;
    width: 98.7vw;
    display:table;
}
.main-page {
	color: bisque;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 60%;
    margin: auto;
    z-index: 2;
}
.main-page h2 {
	font-size: 2.5rem;
}

.main-page h2:hover {
    animation: bounce 0.5s infinite;
   -webkit-animation: bounce 0.5s infinite;
   -moz-animation: bounce 0.5s infinite; 
}

#about {
    /* background-image:url(piano1.jpg); */
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 98.7vw;
    display:table;
    color: white;
}

.outer-box{
    background-color: transparent;
    box-sizing: content-box;
    border: 10px solid #000;
    border-radius: 20px;
    -webkit-transform: translate(50%,50%) rotate(15deg);
    transform: translate(50%,50%) rotate(15deg);
}

.outer-box:hover{
    -webkit-transform: translate(50%,50%) rotate(0deg);
    transform: translate(50%,50%) rotate(0deg);
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

.image-box{
    height: 300px;
    width: auto;
    transform: rotate(-15deg);
}
.image-box img{
    height: 300px;
    width: auto;
    border-radius: 10px;
}

.image-box:hover{
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .1s ease-in-out;
    transition: .1s ease-in-out;
}

#projects {
    /* background-image:url(office.jpg);  */
    background-size: contain;
    height: 100vh;
    width: 98.7vw;
    display:table;
    color: black;
}

#contact {
    /* background-image:url(telephone.jpg);  */
    background-size: contain;
    height: 100vh;
    width: 98.7vw;
    display:table;
    color: white;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100vh;
    /* background-image: url("images/try.jpg"); */
    z-index: 2;
    background-size: cover;
}

.video-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 98.7vw;
}
.video-wrapper video {
	height: 100vh;
	width: 98.7vw;
	object-fit: cover;
	overflow: hidden;
}

.main-page > div { perspective: 100px;}

.parallax {
    background-image: url('piano2.jpg');
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content {
    display: flex;
	color: white;
    text-align: center;
}
.content p {
    font-size: 1.5rem;
    font-weight: bold;
    width: 50%;
    transform: translate(60%, 90%);
}

@media (max-width: 767.98px) {
    #particles-js{
    background-size: contain;
    } 
}

@-webkit-keyframes bounce {
    0%,  
    100% {
       -webkit-transform: translateY(0);
    } 
    50% {
        -webkit-transform: translateY(-10px);
    }
}
@-moz-keyframes bounce {
    0%, 
    100% {
       -moz-transform: translateY(0);
    }
    50% {
       -moz-transform: translateY(-10px);
    }
}
@-o-keyframes bounce {
    0%,
    100% {
       -o-transform: translateY(0);
    }
    50% {
       -o-transform: translateY(-10px);
    }
}
@keyframes bounce {
    0%,  
    100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}