* {
	box-sizing: border-box;
}

body {
	color: black;
	margin: 0;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	overflow-x: hidden;
}

header {
	width: 100vw;
	position: fixed;
	top: 0;
	z-index: 3;
	background-color: transparent;
}

#header-img {
    display: inline-block;
}

#tel{
    height: 50px;
    width: 70px;
    margin-left: 3rem;
}

#nav-bar {
	position: absolute;
	width: 100vw;
	display: inline-block;
	z-index: 3;
}

#nav-bar a {
	text-decoration: none;
	color: white;
}

.nav-link {
	float: right;
	padding: 1rem;
	padding-left: 1.5rem;
	padding-right: 2.5rem;
	font-size: 1.5rem;
}

.nav-link:hover {
	color: black;
	transition: all 0.3s ease 0s;
	background-color: cornsilk;
}

#nav-bar a:hover {
	color: white;
}

.scroll {
	background-image: radial-gradient(
		circle at 0% 100%,
		red 0%,
		black 40%,
		rebeccapurple 100%
	);
	box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 0px 0px;
}
.scroll1 {
	background-image: radial-gradient(
		circle at 0% 100%,
		red 0%,
		pink 40%,
		rebeccapurple 100%
	);
	box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 0px 0px;
}
.scroll2 {
	background-image: radial-gradient(
		circle at 0% 100%,
		red 0%,
		cyan 40%,
		rebeccapurple 100%
	);
	box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 0px 0px;
}
.scroll3 {
	background-image: radial-gradient(
		circle at 0% 100%,
		red 0%,
		orange 40%,
		rebeccapurple 100%
	);
	box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 0px 0px;
}

#home {
	background-size: cover;
	height: 100vh;
	width: 100vw;
	display: table;
}
.main-page {
	color: bisque;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	width: 60%;
	margin: auto;
	z-index: 2;
}
.main-page h2 {
	font-size: 2.5rem;
}

.main-page h2:hover {
	animation: bounce 0.5s infinite;
	-webkit-animation: bounce 0.5s infinite;
	-moz-animation: bounce 0.5s infinite;
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 100vh;
	/* background-image: url("images/try.jpg"); */
	z-index: 2;
	background-size: cover;
}

.video-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	height: 100vh;
	width: 100vw;
}
.video-wrapper video {
	height: 100vh;
	width: 100vw;
	object-fit: cover;
	overflow: hidden;
}

#about {
	/* background-image:url(piano1.jpg); */
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 100vh;
	height: max-content;
	width: 100vw;
	display: flex;
	color: white;
}

.parallax {
	background-image: url("aurora1.jpg");
	min-height: 100vh;
	height: max-content;
	width: 100vw;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.container {
	display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
	margin-top: 20vh;
}

.outer-box {
	background-color: transparent;
	border: 10px solid #000;
	border-radius: 20px;
	-webkit-transform: rotate(30deg);
	transform: rotate(30deg);
}

.outer-box:hover {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.image-box {
	height: 300px;
	width: auto;
	-webkit-transform: rotate(-30deg);
	transform: rotate(-30deg);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}
.image-box img {
	height: 300px;
	width: auto;
	border-radius: 10px;
}

.image-box:hover {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.3s ease-in-out;
	transition: 0.3s ease-in-out;
}

.content {
	font-size: 1.5rem;
	font-weight: lighter;
	color: white;
	text-align: center;
	margin-top: 10vh;
	max-width: 500px;
	padding: 0.5rem;
}

#projects {
	/* background-image: url("test1.jpg"); */
	height: fit-content;
	width: 100vw;
    color: black;
    background-color: white;
}

.project-title{
    display: flex;
    justify-content: center;
    font-size: 3rem;
    margin-bottom: 0;
    /* margin-top: 1rem; */
    color: black;
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 0;
    margin-top: 1rem;
}

.card {
	width: 314px;
	height: 380px;
	border-radius: 30px;
	background: rgb(222, 222, 222);
	transform-style: preserve-3d;
	transform: perspective(500px);
	margin: 2rem;
	text-align: center;
}

.image {
	width: 300px;
	transform: translateZ(50px);
	filter: drop-shadow(2px 2px 20px #222);
}

.title {
    font-size: 2rem;
    height: fit-content;
    transform: translateZ(35px);
    margin: 1rem 0 1rem 0;
}

.card-content {
	font-size: 1rem;
    transform: translateZ(30px);
    height: 80px;
    margin: 1rem;
}

.icon {
    transform: translateZ(40px);
}

#contact {
	height: 100vh;
	width: 100vw;
	color: white;
}

.parallax1 {
	background-image: url("contact.jpg");
	height: 100vh;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.contact-content {
	display: flex;
	justify-content: center;
}
.contact-content table {
	margin-top: 10rem;
	color: white;
	font-size: 1.5rem;
	width: fit-content;
	height: 300px;
	text-align: center;
}

footer{
	color: #000;
	text-align: center;
	transform: translateY(20vh);
}

@media (max-width: 768px) {
	#particles-js {
		background-size: contain;
	}

	.image-box {
		height: 200px;
	}
	.image-box img {
		height: 200px;
	}

	.image{
		width: 100%;
	}

	.container{
		margin-top: 3rem;
	}

	header{
		display: none;
	}

	.contact-content {
		display: flex;
	}

	.contact-content table td{
		display: flex;
		line-height: 2rem;
		text-align: center;
	}
}

@-webkit-keyframes bounce {
	0%,
	100% {
		-webkit-transform: translateY(0);
	}
	50% {
		-webkit-transform: translateY(-10px);
	}
}
@-moz-keyframes bounce {
	0%,
	100% {
		-moz-transform: translateY(0);
	}
	50% {
		-moz-transform: translateY(-10px);
	}
}
@-o-keyframes bounce {
	0%,
	100% {
		-o-transform: translateY(0);
	}
	50% {
		-o-transform: translateY(-10px);
	}
}
@keyframes bounce {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-10px);
	}
}
